<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}" />
</head>
<body>

<h1>Students of {{todolist.name}}</h1>

{% if itlists %}
    <table style="color:blue" align="center" border="width:100%"><tr>
    <th>Id</th>
    <th>Description</th>
    <th>Status</th>
    <th>Due Date</th>
    <th>ListItem</th>
    </tr>
{%for list in itlists%}
    <tr style="color:blue">

        <td style="color:blue">{{list.id}}</td>
    <td style="color:blue">{{list.description}}</td>
        <td style="color:blue">{{list.completed}}</td>
        <td style="color:blue">{{list.due_by}}</td>
        <td style="color:blue">{{list.todolist}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<h2>No items dude</h2>
{% endif %}

</body>
</html>